<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
</head>
<body>
<header>
  <h1 style="text-align:center">What's this all About?</h1>
</header>
<hr>

<table style="margin:auto">
 <tr>
 <td>
   This is about learning to be better.
 </td>
 <td>
   This is about finding something better.
 </td>
 </tr>
 </table>
<hr>
<%= link_to 'Home', root_path %>

</body>
</html>