<!DOCTYPE html>
<html>
<head>
<title>Homepage</title>
</head>
<body>
<header>
  <h1 style="text-align:center">Welcome Home</h1>
</header>
<hr>
<table style="margin:auto">
  <tr>
    <td>
      This is what I do.
    </td>
    <td>
      This is who I am.
    </td>
  </tr>
</table>
<hr>
<%= link_to 'About', about_path %>

</body>
</html>

